<header class="top-bar">
    <h1 class="hidden">Welcome to my Portfolio -Signed, Amie Collins</h1>
    <div class="trees"></div>
    <div class="tree-bar" style="background-image: url(images/SVG/{{ icons.4.svgURL }});"></div>
        <img class="logo" src="images/SVG/{{ icons.0.svgURL }}" alt="{{ icons.0.alt }}">
        <img class="burger-icon" src="images/SVG/{{ icons.1.svgURL }}" alt="{{ icons.1.alt }}">
        <nav class="header-nav">
            <h2 class="hidden">Header Navigation (Desktop)</h2>
            <ul>
                <li><span data-link="home" class="link">Home</span><img src="/images/SVG/{{ icons.2.svgURL }}" alt="{{ icons.2.alt }}"></li>
                <li><span data-link="projects" class="link">Projects</span><img src="/images/SVG/{{ icons.2.svgURL }}" alt="{{ icons.2.alt }}"></li>
                <li><span data-link="about" class="link">About Me</span><img src="/images/SVG/{{ icons.2.svgURL }}" alt="{{ icons.2.alt }}"></li>
                <li><span data-link="contact" class="link">Contact</span></li>
            </ul>
        </nav>
        <nav class="burger-menu hidden">
            <h2 class="hidden">Burger Menu Navigation (Mobile)</h2>
            <ul>
                <li><span data-link="home" class="link">Home</span></li>
                <li><span data-link="projects" class="link">Projects</span></li>
                <li><span data-link="about" class="link">About Me</span></li>
                <li><span data-link="contact" class="link">Contact</span></li>
            </ul>
        </nav>
    </div>
</header>

<div class="light-box hidden"><img src="/images/{{ images/SVG/icons.3.svgURL }}" alt="{{ icons.3.alt }}" class="exit-button"></div>
<div class="main-wrapper">
    {{!-- Home --}}
    <section class="home">
        <h2 class="hidden">Home</h2>
        <div class="main-hero saturate" style="background-image: url(/images/{{ section.0.imgURL }});">
            <div class="welcome-title-bg light-bg">
                {{ section.0.title }} <img class="hero-logo" src="/images/SVG/{{ icons.0.svgURL }}" alt="{{ icons.0.alt }}">
                <span class="main-text">{{ section.0.content }}</span>
            </div>
        </div>

        <section class="qualities">
            <h3 class="qualities-title">Qualities I aspire for in all my work:</h2>
            <div class="photo-trio">
                {{#each qualities}}
                <div class="photo-container">
                    <div class="quality-photo saturate blur" style="background-image: url(/images/{{ this.imgURL }});"><div class="quality-desc light-bg"><span>{{ this.description }}</span></div></div>
                    <div class="photo-title">{{ this.title }}</div>
                </div>
                {{/each}}
            </div>
        </section>

        <section class="intro">
            <h3 class="hidden">Introduction to Me</h2>
            <div class="intro-hero saturate" style="background-image: url(/images/{{ section.1.imgURL }});">

                <img class="me-photo saturate" src="/images/{{ photos.0.imgURL }}" alt="{{ photos.0.alt }}">
                <div class="intro-bg light-bg">
                    <div class="intro-title">{{ section.1.title }}</div>
                    <div class="intro-text">{{ section.1.content }}</div><span class="link learn more" data-link="about">(learn more...)</span>
                </div>
            </div>
        </section>

        <section class="quotes">
            <h3 class="hidden">inspirational quote for you</h3>
            <div class="quote"></div>
        </section>

    </section>

{{!-- Projects --}}
    <section class="projects">
        <h2 class="hidden">Projects I've worked on</h2>
        <div class="projects-hero saturate" style="background-image: url(/images/{{ section.2.imgURL }});">
            <div class="projects-title-bg light-bg">{{ section.2.title }}</div>
            <div class="projects-container">
                {{#each projects}}
                    <div class="project-icon" data-projectid="{{ this.id }}">{{ this.title }}</div>
                {{/each}}
            </div>
        </div>
        <div class="projects-display">
            {{!-- generate with js --}}
        </div>
    </section>
{{!-- About Me --}}
    <section class="about">
        <h2 class="hidden">More About Me</h2>
        <div class="about-hero saturate" style="background-image: url(/images/{{ section.3.imgURL }});">
            <div class="about-text-bg light-bg">
                {{ section.3.title }}
                {{ section.3.content }}
                <div class="about-navigation">
                    <div class="document-links light-bg">
                        <nav class="documents">
                            <h2 class="hidden">Links to Important Documents</h2>
                            <ul>
                                {{#each documents}}
                                    <li><a href="{{ this.link }}"><img src="/images/SVG/{{ this.svgURL }}" alt="{{ this.alt }}" class="link-icon"></a></li>
                                {{/each}}
                            </ul>
                        </nav>
                    </div>

                    <div class="social-media-links light-bg">
                        <nav class="social-media">
                            <h2 class="hidden">Social Media Links</h2>
                            <ul>
                                {{#each social_media}}
                                    <li><a href="{{ this.link }}"><img src="/images/SVG/{{ this.svgURL }}" alt="{{ this.alt }}" class="link-icon"></a></li>
                                {{/each}}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-feeds">
            <div class="spotify-playlist">
                <iframe src="https://open.spotify.com/embed/playlist/5vRyv8yV7FGorvz0NMAHTh" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="horizontal-feeds">
                <div class="twitter-feed">
                    <a class="twitter-timeline" data-height="450" href="https://twitter.com/AmieCollinsLdn?ref_src=twsrc%5Etfw">Tweets by AmieCollinsLdn</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="facebook-feed">
                    <div class="fb-page" data-href="https://www.facebook.com/Amie-Collins-Design-Development-108582450656454" data-tabs="timeline" data-width="" data-height="450" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Amie-Collins-Design-Development-108582450656454" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Amie-Collins-Design-Development-108582450656454">Amie Collins Design &amp; Development</a></blockquote></div>
                </div>
            </div>
        </div>
    </section>
{{!-- Contact --}}
    <section class="contact">
        <h2 class="hidden">Contact Form</h2>
        <div class="contact-hero saturate" style="background-image: url(/images/{{ section.4.imgURL }});">
            <form action="includes/form.php" class="contact-form">
                <div class="contact-title">
                    {{ section.4.title }}
                </div>
                <div class="name contact-row">
                    <label class="contact-lbl" for="name">Name:</label> <input class="contact-input light-bg" type="text" name="name"> 
                </div>
                <div class="email contact-row">
                    <label class="contact-lbl" for="email">Email:</label> <input class="contact-input light-bg" type="email" name="email"> 
                </div>
                <div class="email-title contact-row">
                    <label class="contact-lbl" for="title">Title:</label> <input class="contact-input light-bg" type="text" name="title"> 
                </div>
                <div class="email-content contact-row">
                    <textarea class="contact-input light-bg" name="title"></textarea>
                </div>
                <div class="contact-buttons contact-row">
                    <input type="submit" class="contact-button clear-button" value="Clear"><input type="submit" class="contact-button send-button" value="Send">
                </div>
            </form>
            <div class="thank-you-message hidden">
                {{ section.4.content }}
            </div>
        </div>
    </section>

    {{!-- Call-to-Action --}}
    <section class="call">
        <h2 class="hidden">Thank You</h2>
        {{!-- generate with js --}}
    </section>

    {{!-- Footer --}}
    <footer class="main-footer">
        <h2 class="hidden">Footer Navigation and Social Media Links</h2>
        <div class="footer-nav light-bg" style="background-image: url(/images/{{ section.5.imgURL }});">
            <nav>
                <h3 class="hidden">Footer Page Navigation</h3>
                <ul>
                    <li><span data-link="home" class="link link-icon">Home</span></li>
                    <li><span data-link="projects" class="link link-icon">Projects</span></li>
                    <li><span data-link="about" class="link link-icon">About Me</span></li>
                    <li><span data-link="contact" class="link link-icon">Contact</span></li>
            </ul>
            </nav>
        </div>

        <div class="social-media-links-footer light-bg">
            <nav class="social-media">
                <h2 class="hidden">Social Media Links</h2>
                <ul>
                    {{#each social_media}}
                        <li><a href="{{ this.link }}"><img src="/images/SVG/{{ this.svgURL }}" alt="{{ this.alt }}" class="link-icon"></a></li>
                    {{/each}}
                </ul>
            </nav>
            <div class="copyright">{{ section.5.content }}</div>
        </div>
    </footer>
</div>